<md-content id="bodyContent">
    <div>
      <span>Total:</span>
      <span> {{ getTotalCount() }}</span>
    </div>

    <md-list class="personsList">

      <md-list-item class="md-2-line listAnimate" layout="row" layout-align="start center" ng-repeat="person in checkedInPersons | orderByLastName:persons">
       <md-icon id="crewIcon" ng-show="persons[person].isCrew == 1" style="margin-right:10px" md-svg-src="app/images/icons/crew.svg" ng-class="{'first-list-item-workaround': $index == 0}"></md-icon>
       <md-icon id="headsUpIcon" ng-show="persons[person].isComing == 1 && persons[person].isCrew != 1" style="margin-right:10px" md-svg-src="app/images/icons/heads_up.svg" ng-class="{'first-list-item-workaround': $index == 0}"></md-icon>
       <md-icon ng-hide="persons[person].isCrew == 1 || persons[person].isComing == 1" style="margin-right:10px" md-svg-src="app/images/icons/person.svg" ng-class="{'first-list-item-workaround': $index == 0}"></md-icon>
       <div flex class="md-list-item-text">
         <h3>{{persons[person].firstName}} {{persons[person].lastName}} {{persons[person].isDriver}}</h3>
         <p></p>
       </div>
       <div></div>
       <div flex="50" class="iconSetContainer" layout="row" layout-align="start cetner">
       <div flex class="listIconContainer" layout-align="end center">
         <md-button ng-show="{{persons[person].hasCar}}" ng-class="{'md-primary': (persons[person].isDriver == 1 || persons[person].isDriver == '1')}" ng-click="updateDriverStatus(person)"><md-icon id="listButtonIcon" class="material-icons">drive_eta</md-icon></md-button>
       </div>
       <div flex class="listIconContainer" layout-align="end center">
         <md-button>
           <md-icon class="material-icons" aria-label="{{persons[person].preferredProject}}" ng-click="checkOutPerson(person)">close</md-icon>
         </md-button>
       </div>
     </div> <!--end iconSetContainer-->
     </md-list-item>

   </md-list>
 </md-content>
