<html lang="en" >
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
     <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
     <!--Angular UI-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
     <!--Material Design Colors-->
     <link rel="stylesheet" href="stylesheets/material-design-color-palette/material-design-color-palette.min.css">
     <!--Material Icons Font-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <!--Roboto Font-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
     <!--App Stylesheet-->
     <link rel="stylesheet" href="stylesheets/attendanceAppStylesheet.css" />
     <!--SITC Icons Font-->
     <link rel="stylesheet" href="images/icons/sitcIconFont/style.css">

<!--
   <script src="angular-src/angular.min.js"></script>
   <script src="angular-src/angular-animate.min.js"></script>
   <script src="angular-src/angular-aria.min.js"></script>
   <script src="angular-src/angular-messages.min.js"></script>
 -->

   <script src="attendanceApp.js"></script>
</head>

<body ng-app="attendanceApp">
   <div ng-controller="IndexController" ng-cloak>

     <md-sidenav md-component-id="left" class="md-sidenav-left">
       <md-toolbar class="md-primary md-hue-2" layout="row" layout-align="start center">
         <md-button flex="nogrow" class="md-icon-button" ng-click="toggleLeftMenu()" aria-label="Sidebar">
           <md-icon class="material-icons icon-hint-disabled-opacity">menu</md-icon>
         </md-button>
         <h1 flex class="md-toolbar-tools primary-text-opacity">SITC Attendance</h1>
       </md-toolbar>
      <md-content layout-padding>
        <md-input-container>
          <label>Carpool Site</label>
          <md-select ng-model="tomsTitle">
            <md-option ng-repeat="site in carpoolSites" ng-value="site.id">{{ site.name }}</md-option>
          </md-select>
        </md-input-container>
      </md-content>
     </md-sidenav>

     <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeftMenu()" aria-label="Go Back">
          <md-icon class="material-icons icon-hint-disabled-opacity">menu</md-icon>
        </md-button>
        <span flex></span>
        <h2 class="primary-text-opacity">
          <span>Berkley</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <a ui-sref="attendance">Attendance</a>
    <a ui-sref="attendance.registered">Registered</a>

    <div ui-view></div>

  </div>
</body>
</html>
