<html lang="en" >
   <head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css" />
     <script src="bower_components/angular/angular.js"></script>
     <script src="bower_components/angular-material/angular-material.js"></script>
     <script src="bower_components/angular-animate/angular-animate.min.js"></script>
     <script src="bower_components/angular-aria/angular-aria.min.js"></script>
     <script src="bower_components/angular-messages/angular-messages.min.js"></script>
     <script src="bower_components/angular-route/angular-route.min.js"></script>
     <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
     <!-- Angular Long Press -->
     <script src="bower_components/angular-long-press/dist/angular-long-press.min.js"></script>
     <!-- Angular Material Data Table Stylesheet -->
     <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"  />
     <!-- Angular Trello Client -->
     <script type="text/javascript" src="bower_components/angular-trello-api-client/dist/angular-trello-api-client.js"></script>
     <!-- Satellizer -->
     <script type="text/javascript" src="bower_components/satellizer/satellizer.min.js"></script>
     <!-- Angular Material Data Table -->
     <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
     <!--Material Icons Font-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <!--App Stylesheet-->
     <link rel="stylesheet" href="app/stylesheets/attendanceAppStylesheet.css" />
     <!--SITC Icons Font-->
     <link rel="stylesheet" href="app/images/icons/sitcIconFont/style.css">
     <!-- Application script files -->
     <script src="app/attendanceApp.js"></script>
     <script src="app/controllers/indexController.js"></script>
     <script src="app/controllers/registeredController.js"></script>
     <script src="app/controllers/checkedInController.js"></script>
     <script src="app/controllers/assignedController.js"></script>
     <script src="app/controllers/getFromOtherCarpoolSite.js"></script>
     <script src="app/controllers/addNewVolunteerController.js"></script>
     <script src="app/controllers/trelloNotesController.js"></script>
     <script src="app/services/serverInterfaces.js"></script>
     <script src="app/services/modals/volunteerCarControlPanel.js"></script>
     <script src="app/services/modals/assignTeerCarDriver.js"></script>
     <script src="app/services/modals/driverPickerGenerator.js"></script>
     <script src="app/services/modals/driverControlPanel.js"></script>
     <script src="app/services/modals/sitePickerSheetGenerator.js"></script>
     <script src="app/services/modals/assignedSitePickerSheetGenerator.js"></script>
     <script src="app/services/modals/editRegInfo.js"></script>
     <script src="app/services/modals/removeAssignmentConfirmDialogs/passengersOfDriver.js"></script>
     <script src="app/services/modals/removeAssignmentConfirmDialogs/keepPassengerAssigned.js"></script>
     <!-- Production Tools -->
     <script src="tools/obj_dump.js"></script>

</head>

<body ng-app="attendanceApp"><base href="/" />
   <div ng-controller="IndexController" ng-cloak>

     <md-sidenav md-component-id="left" class="md-sidenav-left">
       <md-toolbar class="md-primary md-hue-2" layout="row" layout-align="start end" style="height:120px; padding-bottom:10px;padding-left:7px; background-image:url('app/images/sidebar_toolbarBackground.jpg');background-size:100%;background-position:center center">
         <div flex id="sidebarTitleContent" layout="row" layout-align="start center">
           <div layout="row" layout-align="center" style="min-height:40px;min-width:40px;border-radius:20px;background-color:#FF5722;padding:5px;margin-right:10px;">
             <md-icon class="material-icons" style="vertical-align:bottom">person</md-icon>
           </div>
           <div flex id="userText" layout="column" layout-align="end">
             <span class="md-body-2 sidebar_userText">{{ persons[currentUser.person_id].firstName }} {{ persons[currentUser.person_id].lastName }}</span>
              <span class="md-body-1 sidebar_userText">{{ currentUser.username }}</span>
           </div>
           <md-button ng-if="currentUser" ng-click="logout()" style="margin-top:0;margin-bottom:0">Logout</md-button>
           <md-button ng-if="!currentUser" ng-click="login()" style="margin-top:0;margin-bottom:0">Login</md-button>
         </div>
       </md-toolbar>
      <md-content layout-padding>
        <md-input-container id="carpoolSiteInputContainer">
          <label>Carpool Site</label>
          <md-select ng-model="carpoolSite" md-on-close="reconfigPersonsContainers()">
            <md-option ng-repeat="(siteId, info) in carpoolSites" ng-value="siteId">{{ info.name }}</md-option>
          </md-select>
        </md-input-container>

        <br  />
        <md-button id="changePasswordButton" ng-click="changePassword()">Change Password</md-button>
        <br />

        <span class="md-subheader">Select a volunteer from another carpool site</span>
        <md-button ng-click="goToGetFromOtherCarpool()">
          Select
        </md-button>

        <span class="md-subheader">Add new volunteer</span>
        <md-button ng-click="goToAddNewTeer()">
          Add new
        </md-button>


      </md-content>
     </md-sidenav>

     <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeftMenu()" aria-label="Go Back">
          <md-icon class="material-icons icon-hint-disabled-opacity">menu</md-icon>
        </md-button>
        <span flex></span>
        <h2 class="primary-text-opacity">
          <span>{{ carpoolSites[carpoolSite].name }}</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <div ui-view></div>

  </div>
</body>
</html>
