/* Colors */
#crewIcon {
  color: rgba(255, 110, 64, 0.87); }

#headsUpIcon {
  color: #00bcd4; }

.site-picker-list {
  margin-left: 0; }

.site-picker-list-header {
  margin: 0; }

.not-paid {
  color: red; }

#notesToolbar, #bugReportToolbar {
  background-color: #0079BF; }

#newNoteContainer:not(.md-input-invalid).md-input-focused label {
  color: #0079BF; }
#newNoteContainer:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #0079bf; }

.bug-report-label {
  font-size: 14px;
  font-weight: 600;
  color: black;
  opacity: .54; }

md-list-item .md-no-style {
  padding-left: 0; }

@media only screen and (max-width: 600px) {
  #speedDialContainer {
    position: absolute; } }
@media only screen and (min-width: 600px) {
  #speedDialContainer {
    position: relative; } }
@media only screen and (min-width: 768px) {
  #bodyContent {
    width: 70%;
    margin: auto auto; }

  .anchor-button-text {
    font-size: 16px !important; } }
@media only screen and (max-width: 768px) {
  #bodyContent {
    padding: 10px; } }
md-toast {
  position: fixed;
  margin-bottom: 15px; }

md-list {
  width: 95%;
  margin: auto auto; }

md-dialog {
  min-width: 80%;
  position: relative; }

md-dialog-content {
  padding: 10px; }

.primary-text-opacity {
  color: white; }

.black-primary-text-opacity {
  opacity: .87; }

.secondary-text-opacity {
  opacity: .54; }

.iconWhite {
  color: white; }

.icon-hint-disabled-opacity {
  opacity: .5;
  color: white; }

.dividers-opacity {
  opacity: .38; }

md-fab-speed-dial {
  position: absolute;
  top: 12px;
  right: 0; }

.first-list-item-workaround {
  margin-top: 24px !important; }

.fab-button-workaround {
  position: relative !important; }

.speedDialButton {
  height: auto !important;
  width: auto !important;
  max-width: 36px !important;
  box-shadow: 0 0 0 0 !important; }

#speedDialTriggerButton {
  background-color: #00897B; }

.picker-icons {
  margin-right: 10px !important; }

.listIconContainer {
  position: relative;
  display: flex !important;
  height: auto;
  min-width: 30px;
  min-height: 30px;
  margin: auto auto; }

#listButtonIcon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important; }

.iconSetContainer {
  margin: auto auto; }

.sidebar_userText {
  line-height: 14px; }

@-webkit-keyframes list-slideout {
  0% {
    -webkit-transform: translate3d(0px, 0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(1000px, 0, 0);
    opacity: 0; } }
@-webkit-keyframes assigned-list-slideout {
  0% {
    -webkit-transform: translate3d(0px, 0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-1000px, 0, 0);
    opacity: 0; } }
.listAnimate.ng-leave {
  -webkit-animation: list-slideout 0.4s ease-in-out;
  animation: list-slideout 0.4s ease-in-out; }

.assignedlistAnimate.ng-leave {
  -webkit-animation: assigned-list-slideout 0.4s ease-in-out;
  animation: assigned-list-slideout 0.4s ease-in-out; }

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 100px; }

.slide.ng-enter, .slide.ng-leave {
  position: absolute !important;
  display: inline;
  left: 0;
  right: 0; }

#bodyContent.ng-enter, #bodyContent.ng-leave, .personsList.ng-enter, .personsList.ng-leave {
  display: inline;
  position: absolute; }

#bodyContent.ng-enter-active, #bodyContent.ng-leave-active {
  display: block; }

@-webkit-keyframes slideout-to-left {
  0% {
    -webkit-transform: translate3d(0px, 0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(-1000px, 0, 0);
    opacity: 0; } }
@-webkit-keyframes slidein-from-right {
  0% {
    -webkit-transform: translate3d(1000px, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0px, 0, 0);
    opacity: 1; } }
@-webkit-keyframes slideout-to-right {
  0% {
    -webkit-transform: translate3d(0px, 0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(1000px, 0, 0);
    opacity: 0; } }
@-webkit-keyframes slidein-from-left {
  0% {
    -webkit-transform: translate3d(-1000px, 0, 0);
    opacity: 0; }
  100% {
    -webkit-transform: translate3d(0px, 0, 0);
    opacity: 1; } }
.right-to-left.ng-enter {
  -webkit-animation: slidein-from-left 0.3s ease-in-out;
  animation: slidein-from-left 0.3s ease-in-out; }

.right-to-left.ng-leave {
  -webkit-animation: slideout-to-right 0.3s ease-in-out;
  animation: slideout-to-right 0.3s ease-in-out; }

.left-to-right.ng-enter {
  -webkit-animation: slidein-from-right 0.3s ease-in-out;
  animation: slidein-from-right 0.3s ease-in-out; }

.left-to-right.ng-leave {
  -webkit-animation: slideout-to-left 0.3s ease-in-out;
  animation: slideout-to-left 0.3s ease-in-out; }

.speedDialPrepare_first {
  opacity: 1;
  z-index: 23;
  transform: translateX(52px);
  -webkit-transform: translateX(52px); }

.speedDialPrepare_second {
  opacity: 1;
  z-index: 22;
  transform: translateX(104px);
  -webkit-transform: translateX(104px); }

.speedDialPrepare_third {
  opacity: 1;
  z-index: 21;
  transform: translateX(156px);
  -webkit-transform: translateX(156px); }

input:not(:focus) {
  color: black !important; }

md-bottom-sheet {
  height: 80%; }
  md-bottom-sheet md-content {
    max-height: 100%; }

@-webkit-keyframes note-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.card-container.ng-enter {
  -webkit-animation: note-fade-in 1.5s; }

/*# sourceMappingURL=attendanceAppStylesheet.css.map */
