<md-content id="bodyContent">
  <div id="anchorButtonRow" layout="row">
    <span flex></span>
    <div id="anchorButtonContainer" ng-repeat="project in ['paint', 'plant', 'play']">
      <md-button ng-click="goToSectionHeader(project)">
        <span class="md-subhead">{{ (project == 'all') ? 'Not Assigned' : project | titlecase }}</span>
        <span class="md-subhead" style="font-weight:bold">({{ numCheckedIn[project] }}) [{{project}}]</span>
      </md-button>
    </div>
    <span flex></span>
  </div>

  <md-list class="personsList">
    <div ng-repeat="project in ['paint', 'plant', 'play']">
      <div id="{{project}}Header" ng-show="$scope.numCheckedIntoProj(project) > 0"> <!--ng-show="numCheckedIn[project] > 0"-->
        <md-divider ng-hide="$first"></md-divider>
        <p class="md-body-2 secondary-text-opacity" style="margin-top:10px; margin-bottom:0; padding-left:16px">{{ (project == 'all') ? 'Not Assigned' : project | titlecase }}</p>
      </div>
      <div ng-repeat="(siteId, siteInfo) in activeSites[project]">
        <div ng-repeat="person in projectSitesWithPersons[siteId]" class="listAnimate">
          <md-list-item class="md-2-line listAnimate" layout="row" layout-align="start center" ng-show="persons[person].firstName.length > 0">
            <!--<img ng-src="{{persons[person].imgUrl}}" class="md-avatar" alt="Avatar" />-->
            <div flex class="md-list-item-text">
              <h3>{{persons[person].firstName}} {{persons[person].lastName}}</h3>
              <p>{{ activeSites[project][siteId].name }}</p>
            </div>
            <div flex="60" class="iconSetContainer" layout="row" layout-align="start cetner">
              <div flex class="listIconContainer" layout-align="start center">
                <div ng-repeat="v in [0]"> <!--workaround proper display of switch-->
                  <md-switch ng-hide="screenIsXsmall || screenIsSmall" ng-model="persons[person].driverStatus" ng-true-value="'isDriver'" ng-false-value="null" ng-change="updateDriverStatus(person)" aria-label="Driver Active" style="margin-left:0"></md-switch>
                </div>
                <md-button ng-disabled="!(persons[person].driverStatus == 'isDriver') && !screenIsSmall && !screenIsXsmall" ng-class="{'md-accent md-hue-1': persons[person].driverStatus == 'isDriver'}" ng-click="driverControlPanel(person)" style="padding:0 !important; min-width:40px !important">
                  <md-icon id="listButtonIcon" md-svg-src="images/icons/steeringWheel.svg"></md-icon>
                </md-button>
              </div>
              <div flex class="listIconContainer" layout-align="center center">
                <md-button ng-hide="persons[person].driverStatus == 'isDriver'" aria-label="menu" class="md-icon-button" ng-class="{'md-primary md-hue-1': persons[person].assignedToDriver_id != null && persons[person].assignedToDriver_id != 0}" ng-click="assignDriver(person)" style="padding:0 !important">
                  <!--TODO ng-show to have assignedProject show if exists and preferredProject if not-->
                  <md-icon id="listButtonIcon" class="material-icons" aria-label="car">drive_eta</md-icon>
                </md-button>
              </div>
              <div flex class="listIconContainer" layout="row" layout-align="end center">
                <md-button ng-if="project != 'all'" aria-label="menu" class="md-fab speedDialButton md-primary"  ng-click="checkInPerson(person, project, project)"> <!--instead of speedDial if project is already set-->
                  <md-icon class="sitc-icon-" style="color:white;">{{ persons[person].assignedToProject}}</md-icon>
                </md-button>
              </div>
            </div> <!--end iconSetContainer-->
          </md-list-item>
        </div>
      </div>
    </div>
  </md-list>
</md-content>
