<md-content id="bodyContent">

    <md-list>

      <md-list-item class="md-2-line" layout="row" layout-align="start center" ng-repeat="(myId, myInfo) in registeredPersons">
       <img ng-src="images/avatarExample.png" class="md-avatar" alt="Avatar" />
       <div flex class="md-list-item-text">
         <h3>{{myInfo.firstName}} {{myInfo.lastName}}</h3>
         <p></p>
       </div>
       <div></div>
       <div flex="50" class="iconSetContainer" layout="row" layout-align="start cetner">
       <div flex class="listIconContainer" layout-align="center center">
         <md-icon id="listButtonIcon" class="material-icons">assignment_turned_in</md-icon>
       </div>
       <div flex class="listIconContainer" layout-align="center center">
         <md-icon id="listButtonIcon" md-svg-src="images/driver.svg" class="s48" aria-label="car"></md-icon>
       </div>
       <div flex class="listIconContainer" layout="row" layout-align="center center">
          <md-fab-speed-dial flex class="md-fling md-secondary" md-direction="left" md-open="speedDialIsOpen" ng-cloak>
             <md-fab-trigger>
                <md-button ng-show="speedDialIsOpen" aria-label="menu" class="md-fab speedDialButton md-primary" ng-click="checkInPerson(myId, 'all')">
                   <md-icon class="material-icons">assignment_turned_in</md-icon>
                </md-button>
                <md-button ng-show="!speedDialIsOpen" aria-label="menu" class="md-fab speedDialButton md-primary">
                   <md-icon class="material-icons">assignment_turned_in</md-icon>
                </md-button>
             </md-fab-trigger>
             <md-fab-actions>
                <md-button aria-label="Add" ng-click="checkInPerson(myId, 'paint')" class="md-fab md-raised md-mini md-primary md-hue-1 speedDialButton">
                   <md-icon class="material-icons" aria-label="Add">add</md-icon>
                </md-button>
                <md-button aria-label="Insert Link" ng-click="checkInPerson(myId, 'plant')" class="md-fab md-raised md-mini md-primary md-hue-1 speedDialButton">
                   <md-icon class="material-icons" aria-label="Insert Link">insert_link</md-icon>
                </md-button>
                <md-button aria-label="Edit" ng-click="checkInPerson(myId, 'play')" class="md-fab md-raised md-mini md-primary md-hue-1 speedDialButton">
                   <md-icon class="material-icons" aria-label="Edit">mode_edit</md-icon>
                </md-button>
             </md-fab-actions>
          </md-fab-speed-dial>
       </div>
     </div> <!--end iconSetContainer-->
     </md-list-item>

   </md-list>
 </md-content>
