@media only screen and (min-width: 768px) {
  #bodyContent {
    width: 70%;
    margin: auto auto;
  }
}

md-toast {
  position: fixed;
  margin-bottom: 15px;
}

md-list {
  width:95%;
  margin: auto auto;
}

.primary-text-opacity {
  color: white;
}

.secondary-text-opacity {
  opacity: .54;
}

.iconWhite {
  color: white;
}

.icon-hint-disabled-opacity {
  opacity: .5;
  color: white;
}

.dividers-opacity {
  opacity: .38;
}

.speedDialButton {
  height: auto !important;
  width: auto !important;
  max-width: 36px !important;
  z-index: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

#speedDialTriggerButton {
  background-color: #00897B;
}

.listIconContainer {
  display: flex !important;
  height: auto;
  min-width: 30px;
  min-height: 30px;
  margin: auto auto;
}

#listButtonIcon {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex !important;
}

.iconSetContainer {
  margin:auto auto;
}

/* now the element will fade out before it is removed from the DOM */
.listAnimate.ng-leave {
  -webkit-transition:2.0s linear all;
  -moz-transition:2.0s linear all;
  -o-transition:2.0s linear all;
  transition:2.0s linear all;
  -webkit-transform: translate(50px,0);
    -moz-transform: translate(50px,0);
    -o-transform: translate(50px,0);
    -ms-transform: translate(50px,0);
    transform: translate(50px,0);
  opacity:1;
}
.listAnimate.ng-leave.ng-leave-active {
  opacity:0;
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height:100px;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute !important;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  z-index: 0;
  -webkit-transform:translate3d(1000px, 0, 0);
  -moz-transform:translate3d(1000px, 0, 0);
  transform:translate3d(1000px, 0, 0);
}

[ui-view].ng-enter-active {
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave {
  z-index: 100;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  -webkit-transform:translate3d(-1000px, 0, 0);
  -moz-transform:translate3d(-1000px, 0, 0);
  transform:translate3d(-1000px, 0, 0);
}
