<md-dialog style="max-width:50% !important; padding:10px">
  <div id="modalTitleContents" layout="column" layout-align="center center">
    <img ng-src="images/sitcSun_yellow.svg" style="min-height: 50px; max-height:120px; padding: 10px"/>
    <h2 class="md-display-1" style="margin-top:0; margin-bottom: 0">Change Password</h3>
  </div>
  <span ng-hide="message == ''" class="md-warn">{{ message }}</span>
  <md-dialog-content>
    <form name="loginForm" ng-submit="submit(myOldPassword, myNewPassword, myNewPasswordVerify)">
      <span class="md-subhead black-primary-text-opacity">Username</span>
      <br  />
      <span class="md-subhead secondary-text-opacity">{{ myUsername }}</span>
      <md-input-container class="md-block">
        <label>Current Password</label>
        <input id="oldPasswordField" type="password" name="oldPassword" ng-model="myOldPassword" ng-maxlength="128" ng-change="resetPasswordValidity()">
        <div ng-messages="loginForm.oldPassword.$error">
          <div ng-message="maxlength">Your password is too long.</div>
          <div ng-message="wrongPassword">Password doesn't look right. Check password and try again.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>New Password</label>
        <input id="newPasswordField" type="password" name="newPassword" ng-model="myNewPassword" ng-maxlength="128" ng-change="resetPasswordValidity()">
        <div ng-messages="loginForm.newPassword.$error">
          <div ng-message="maxlength">Your password is too long.</div>
          <div ng-message="passwordsDontMatch">The passwords you input do not match. Please try again.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Verify New Password</label>
        <input id="newPasswordVerifyField" type="password" name="newPasswordVerify" ng-model="myNewPasswordVerify" ng-maxlength="128" ng-change="resetPasswordValidity()">
        <div ng-messages="loginForm.newPasswordVerify.$error">
          <div ng-message="maxlength">Your password is too long.</div>
          <div ng-message="passwordsDontMatch">The passwords you input do not match. Please try again.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <input type="submit" value="Change" />
      </md-input-container>
    </form>
  </md-dialog-content>

</md-dialog>
