<md-dialog aria-label="List dialog" style="min-width:80%">
  <md-toolbar>
    <div class="md-toolbar-tools primary-text-opacity">
      <h2>{{ persons[driver].firstName }} {{ persons[driver].lastName }}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="closeDialog()">
        <md-icon class="material-icons" style="color:white">clear</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="padding:10px;">
    <md-switch ng-model="persons[driver].driverStatus" ng-true-value="'isDriver'" ng-false-value="null" ng-change="updateDriverStatus(driver)" aria-label="Driver Active" style="margin-left:0">Driving Today</md-switch>
    <md-title style="padding-bottom:0;height:auto;font-size:16px;font-weight:500">Passengers</md-title>
    <md-content>
      <md-list style="margin-left:0">
        <md-list-item ng-repeat="passenger in myPassengers track by $index" style="padding-left:0">
          <span ng-class="{'secondary-text-opacity': passenger == ''}">{{ $index + 1 }}.</span>
          <p>&ensp;{{ persons[passenger].firstName }} {{ persons[passenger].lastName }}</p>
          <span flex></span>
          <md-button ng-hide="passenger == ''" class="md-icon-button secondary-text-opacity" ng-click="removePassenger(passenger)">
            <md-icon class="material-icons">close</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </md-content>
  </md-dialog-content>
</md-dialog>
