<!DOCTYPE html>
<title>SITC Attendance</title>
<head>
  <!--AngularJS Dependencies-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
  <!--Angular Material library-->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
  <!--Angular Material stylesheet-->
  <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">-->
  <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.min.css">
  <!--Roboto Font-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <!--Material Design Color Palette-->
  <link rel="stylesheet" href="stylesheets/material-design-color-palette/material-design-color-palette.min.css">
  <script src="listInfo.js"></script>
</head>

<body>
<h1>Hello, World!</h1>

<md-list ng-app="MyApp" class="listdemoListControls" ng-controller="ListCtrl">
  <md-list-item ng-repeat="message in messages" ng-click='actionOne("action one")'>
    <p>{{message.title}}</p>

    <md-button class="md-secondary md-icon-button" ng-if="!showActionThree" ng-click="actionTwo('action two')">
      Two
    </md-button>

    <md-button class="md-secondary md-icon-button" ng-if="showActionThree" ng-click="actionThree('action three')">
      Three
    </md-button>
  </md-list-item>
  {{showActionThree}}
  </md-list>



</body>
</html>
