<md-content id="bodyContent">

  <h2>All Volunteers</h2>

  <div id="carpoolSelectionContainer" layout="column" layout-align="start">
    <div layout="row">
      <md-input-container id="carpoolSiteInputContainer" style="margin-bottom:5px">
        <label>Carpool Site</label>
        <md-select ng-model="otherCarpoolSite"> <!-- md-on-close="getVolunteers()" -->
          <md-option ng-value="all"><em>All sites</em></md-option>
          <md-option ng-repeat="(siteId, info) in carpoolSites" ng-value="siteId">{{ info.name }}</md-option>
        </md-select>
      </md-input-container>
      <span flex></span>
    </div>
    <div layout="row">
      <md-button class="md-primary" style="margin-left: 0; padding-left: 0" ng-click="getVolunteers()">Load</md-button>
      <span flex></span>
    </div>
  </div>

  <md-table-container id="volunteersContainer" ng-hide="volunteers.length < 1">
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column align-rule="left"></th>
          <th md-column align-rule="left">Name</th>
          <th md-column align-rule="left">Carpool Site</th>
          <th md-column align-rule="left">Email</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr md-row ng-repeat="teer in volunteers | orderBy: '+lastName'" >
          <td md-cell style="padding-right: 0; padding-left: 0">
            <md-button class="md-icon-button"  ng-click="goToCheckedIn(teer.person_id)">
              <md-icon>done</md-icon>
            </md-button>
          </td>
          <td md-cell>{{ teer.firstName }} {{ teer.lastName}}</td>
          <td md-cell>{{ carpoolSites[teer.primaryCarpool_id].name }}</td>
          <td md-cell>{{ teer.email }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

</md-content>
