<md-content id="bodyContent">

  <md-table-container id="crewTableContainer" ng-hide="crew.length < 1">
    <h3>Crew</h3>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column align-rule="left">Name</th>
          <th md-column align-rule="left">Site</th>
          <th md-column align-rule="left"> </th>
          <th md-column align-rule="left"># of Seatbelts</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr md-row ng-repeat="crewId in persons | crewInPersons">
          <td md-cell>{{ persons[crewId]. firstName }} {{ persons[crewId].lastName }}</td>
          <td md-cell>{{ (persons[crewId].assignedToSite_id) ?  projectSites[persons[crewId].assignedToSite_id].name : 'Not Assigned' }}</td>
          <td md-cell>
            <md-icon ng-show="persons[crewId].driverStatus == 'isDriver' || persons[crewId].driverStatus == 'isTeerCarDriver' || persons[crewId].driverStatus == 'isVanDriver'">drive_eta</md-icon>
          </td>
          <td md-cell>{{ persons[crewId].numSeatbeltsToday }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-container id="vansTableContainer" ng-hide="vans.length < 1">
    <h3>Vans</h3>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column align-rule="left">Van</th>
          <th md-column align-rule="left">Site</th>
          <th md-column align-rule="left">Driver</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr md-row ng-repeat="(vanId, vanInfo) in vans">
          <td md-cell>{{ vanInfo.name }}</td>
          <td md-cell>{{ (vanInfo.assignedToSite_id) ?  projectSites[vanInfo.assignedToSite_id].name : 'Not Assigned' }}</td>
          <td md-cell>{{ (vanInfo.driver_person_id != null && vanInfo.driver_person_id != '') ? persons[vanInfo.driver_person_id].firstName + ' ' + persons[vanInfo].driver_person_id.lastName : 'Not Assigned'}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-container id="teerCarsTableContainer" ng-hide="vans.length < 1">
    <h3>Volunteer Cars</h3>
    <table md-table>
      <thead md-head>
        <tr md-row>
          <th md-column align-rule="left">Driver</th>
          <th md-column align-rule="left">Site</th>
          <th md-column align-rule="left"># of Seatbelts</th>
        </tr>
      </thead>

      <tbody md-body>
        <tr md-row ng-repeat="(teerCarId, teerCarInfo) in teerCars">
          <td md-cell>{{ (teerCarInfo.driver_person_id != null && teerCarInfo.driver_person_id != '') ? persons[teerCarInfo.driver_person_id].firstName + ' ' + persons[teerCarInfo].driver_person_id.lastName : 'Not Assigned'}}</td>
          <td md-cell>{{ (teerCarInfo.assignedToSite_id) ?  projectSites[teerCarInfo.assignedToSite_id].name : 'Not Assigned' }}</td>
          <td md-cell>{{ teerCarInfo.numSeatbelts }}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>


</md-content>
