<md-bottom-sheet class="md-list md-has-header" style="position:fixed;margin-bottom:0" ng-cloak>
  <h2 class="md-title black-primary-text-opacity" style="line-height:20px;padding-left:16px; margin-bottom:9px; margin-top:20px">Edit {{ persons[id].firstName }}'s assignment</h2>
  <md-subheader class="md-body-2 secondary-text-opacity" style="font-size:16px; line-height:14px">
    Current Assignment: {{ persons[id].assignedToProject | titlecase }}, {{ currentSiteName }}
  </md-subheader>
  <md-list>
    <md-list-item>
      <md-button
          ng-click="removeSiteAssignment()"
          class="md-list-item-content">
        <md-icon class="sitc-icon- picker-icons" aria-label="{{persons[id].assignedToProject}} icon">{{ persons[id].assignedToProject }}</md-icon>
        <span class="md-inline-list-icon-label">Remove site assignment</span>
      </md-button>
    </md-list-item>
    <md-list-item>
      <md-button
          ng-click="removeProjectAssignment()"
          class="md-list-item-content">
        <md-icon class="sitc-icon- picker-icons" aria-label="All Projects Icon">all</md-icon>
        <span class="md-inline-list-icon-label">Remove project assignment</span>
      </md-button>
    </md-list-item>
  </md-list-item>
  <md-list-item class="md-2-line md-ink-ripple md-warn" ng-click="checkOut()">
    <md-icon class="material-icons picker-icons">close</md-icon>
    <div class="md-list-item-text">
      <h3 class="md-inline-list-icon-label black-primary-text-opacity" style="font-weight:bold">Check Out</h3>
    </div>
  </md-list-item>
  </md-list>
</md-bottom-sheet>
