<md-dialog class="md-list md-has-header" style="position:fixed;margin-bottom:0;" ng-cloak>
  <md-toolbar>
    <h2 class="md-toolbar-tools md-title black-primary-text-opacity" style="line-height:20px;padding-left:16px; margin-bottom:9px; margin-top:20px">Assign Driver</h2>
  </md-toolbar>
  <md-dialog-content>
    <h4>Select a Crew driver to assign to this van.</h4>
    <span>The driver will automatically be assigned to <strong>{{ projectSites[assignedToSite].name}}</strong></span>
    <md-list>
      <md-list-item ng-repeat="driverId in drivers" class="md-2-line md-ink-ripple" ng-click="selectWithDriver(driverId)">
          <div class="md-list-item-text">
            <h3>{{ persons[driverId].firstName }} {{ persons[driverId].lastName }}</h3>
            <span class="md-body-1 secondary-text-opacity">{{ projectSites[persons[driverId].assignedToSite_id].name }}</span>
          </div>
      </md-list-item>
    </md-list>
  </md-dialog-title>

</md-dialog>
