<md-dialog style="max-width:50% !important">
  <div id="modalTitleContents" layout="column" layout-align="center center">
    <img ng-src="app/images/sitcSun_yellow.svg" style="min-height: 50px; max-height:120px; padding: 10px"/>
    <h2 class="md-display-1" style="margin-top:0; margin-bottom: 0">Login</h3>
  </div>
  <span ng-hide="message == ''" class="md-warn">{{ message }}</span>
  <md-dialog-content>
    <form name="loginForm" ng-submit="submit(myUsername, myPassword, mySite)">
      <md-input-container class="md-block">
        <label>Username</label>
        <input id="usernameField" type="text" name="username" ng-model="myUsername" ng-maxlength="100" ng-change="resetUsernameValidity()">
        <div ng-messages="loginForm.username.$error">
          <div ng-message="maxlength">Your username is too long.</div>
          <div ng-message="notFound">Oops, no matches found for this username. Check your username and try again.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Password</label>
        <input id="passwordField" type="password" name="password" ng-model="myPassword" ng-maxlength="128" ng-change="resetPasswordValidity()">
        <div ng-messages="loginForm.password.$error">
          <div ng-message="maxlength">Your password is too long.</div>
          <div ng-message="wrongPassword">Password doesn't look right. Check password and try again.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Carpool Site</label>
        <md-select ng-model="mySite">
          <md-option ng-repeat="(siteId, info) in carpoolSites" ng-value="info.carpoolSite_id">{{ info.name }}</md-option>
        </md-select>
      </md-input-container>
      <br />
      <md-input-container>
        <input type="submit" value="Login"/>
      </md-input-container>
    </form>
  </md-dialog-content>

</md-dialog>
